In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('mvt.xlsx', header = 0)

In [5]:
df.head()

,date,Greenhouse gas emissions,Coal consumption,Fossil fuel consumption
0,1960-12-31,NaN,87.0288,99.0202
1,1961-12-31,NaN,86.7258,99.0410
2,1962-12-31,NaN,86.9091,99.1927
3,1963-12-31,NaN,85.7424,99.3022
4,1964-12-31,NaN,84.4488,99.3976

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      56 non-null     object
 1   Greenhouse gas emissions  43 non-null     float64
 2   Coal consumption          56 non-null     float64
 3   Fossil fuel consumption   56 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.9+ KB

In [8]:
df['Greenhouse gas emissions'].mean()

1173506.3655697675

In [13]:
df['Greenhouse gas emissions'].fillna(value = df['Greenhouse gas emissions'].mean(), inplace=True)

In [14]:
df.info

<bound method DataFrame.info of                    date  Greenhouse gas emissions  Coal consumption  \
0            1960-12-31              1.173506e+06           87.0288
1            1961-12-31              1.173506e+06           86.7258
2            1962-12-31              1.173506e+06           86.9091
3            1963-12-31              1.173506e+06           85.7424
4            1964-12-31              1.173506e+06           84.4488
5            1965-12-31              1.173506e+06           80.1826
6            1966-12-31              1.173506e+06           76.8512
7            1967-12-31              1.173506e+06           77.0900
8            1968-12-31              1.173506e+06           76.2458
9            1969-12-31              1.173506e+06           74.7271
10           1970-12-31              1.286570e+06           74.4636
11           1971-12-31              1.283784e+06           74.9894
12           1972-12-31              1.300781e+06           72.3798
13           1973-12-31              1.364682e+06           69.0035
14           1974-12-31              1.336034e+06           67.2084
15           1975-12-31              1.273610e+06           63.2746
16           1976-12-31              1.336497e+06           66.0828
17           1977-12-31              1.315705e+06           63.6533
18           1978-12-31              1.357268e+06           62.6458
19           1979-12-31              1.411701e+06           61.9428
20           1980-12-31              1.354783e+06           62.9399
21           1981-12-31              1.317792e+06           65.1161
22           1982-12-31              1.267150e+06           66.2068
23           1983-12-31              1.268456e+06           67.6626
24           1984-12-31              1.291692e+06           65.3232
25           1985-12-31              1.301253e+06           61.9375
26           1986-12-31              1.302265e+06           62.2620
27           1987-12-31              1.306982e+06           59.8791
28           1988-12-31              1.294254e+06           58.6267
29           1989-12-31              1.278982e+06           58.0613
30           1990-12-31              1.256074e+06           58.7311
31           1991-12-31              1.219017e+06           59.1461
32           1992-12-31              1.158796e+06           57.1244
33           1993-12-31              1.147631e+06           57.3785
34           1994-12-31              1.135938e+06           56.5280
35           1995-12-31              1.131719e+06           55.6226
36           1996-12-31              1.153138e+06           54.9606
37           1997-12-31              1.122917e+06           53.3586
38           1998-12-31              1.060398e+06           54.1199
39           1999-12-31              1.020391e+06           52.1545
40           2000-12-31              1.016296e+06           53.1461
41           2001-12-31              1.025984e+06           51.8395
42           2002-12-31              1.007405e+06           52.6834
43           2003-12-31              1.017486e+06           52.0842
44           2004-12-31              1.016629e+06           50.4296
45           2005-12-31              9.812877e+05           48.3459
46           2006-12-31              9.946860e+05           47.1639
47           2007-12-31              9.728962e+05           48.6524
48           2008-12-31              9.921163e+05           44.9948
49           2009-12-31              9.504634e+05           44.1136
50           2010-12-31              9.480068e+05           43.6424
51           2011-12-31              9.295403e+05           44.8563
52           2012-12-31              9.517167e+05           46.0165
53  2013-12-31 00:00:00              1.173506e+06           47.2412
54  2014-12-31 00:00:00              1.173506e+06           45.8102
55  2015-12-31 00:00:00              1.173506e+06           44.2628

    Fossil fuel consumption
0                   99.0202
1                   99.0410
2                   99.1927
3                   99.3022
4                   99.3976
5                   99.1023
6                   98.8661
7                   98.7712
8                   98.7822
9                   98.6385
10                  97.8670
11                  98.0589
12                  97.6536
13                  97.6214
14                  97.1827
15                  96.2298
16                  96.3300
17                  95.2001
18                  95.1884
19                  94.8335
20                  94.0921
21                  92.9745
22                  91.9699
23                  91.6533
24                  90.0646
25                  87.9252
26                  88.6536
27                  87.9054
28                  86.9101
29                  86.4512
30                  86.8379
31                  87.0964
32                  85.9528
33                  86.0093
34                  86.0218
35                  85.8110
36                  85.9087
37                  84.6295
38                  84.9225
39                  83.9314
40                  83.6220
41                  83.6050
42                  83.2782
43                  83.1823
44                  82.5660
45                  81.8557
46                  81.2719
47                  81.2720
48                  80.8023
49                  79.9675
50                  79.5604
51                  80.3702
52                  80.6252
53                  81.0883
54                  79.7105
55                  78.8626  >

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      56 non-null     object
 1   Greenhouse gas emissions  56 non-null     float64
 2   Coal consumption          56 non-null     float64
 3   Fossil fuel consumption   56 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.9+ KB